/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}
h1,h2{
  font-family: "Oswald", sans-serif;
  color: forestgreen;
  font-weight: lighter;
  font-size: 100px;
}
img { 
    width: 500px;
  }

  .profil { 
      width:200px ;
      }

h2 {
  font-size: 30px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
